header {
    width: 100%;
    margin: 10px 0px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}

.devoured, .create, .not-devoured {
    float: left;
    margin: 10px 150px;
}

#burger-name {
    width: 200px;
}